{% extends "plantilla.html" %}

{% block body %}
    <div><br><br><br><br>
        <h1>Mi rol principal es la creación y adaptación de programas informáticos. Mi ámbito de aplicación abarca una serie de aplicaciones, como programas, procesos, redes, actualizaciones de versión, DevOps y pruebas.</h1>
    </div>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Inicio</a></li>
            <li><a href="http://127.0.0.1:5000/portafolio">Portafolio</a></li>
            <li><a href="http://127.0.0.1:5000/contacto">Contacto</a></li>
            
        </ul>
    </nav>

{% endblock %} 
