<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div>
        <center>
            <h1>Gracias por contactarte conmigo {{nombre}}, ({{correo}}), Gracias por estar con Nosotros</h1>
        </center>
    </div>
<center>
    <a href="{{url_for('index')}}" class="boton">TERMINAR CON EL PROCESO</a>
</center>
</body>
</html>
