{% extends "plantilla.html" %}

{% block body %}
    <br><br><h1>Como aprendiz he trabajado con herramientas de programación como:</h1>
    <br><br><br>
    <div class="imagen">
        <img src="static/imagenes/css.png" alt="" width="250" height="200"> 
        <img src="static/imagenes/HTML.png" alt="" width="250" height="200"> 
        <img src="static/imagenes/img3.png" alt="" width="250" height="200">
    </div>
    <div class="para">
        <a class="sss"href="http://developer.mozilla.org/es/docs/Learn/CSS/First_steps/What_is_CSS" aria-posinset="center">CSS</a>
        <a class="ssl" href="https://developer.mozilla.org/es/docs/Web/HTML">HTML</a>
        <a class="ssk"  href="http://www.python.org/">PYTHON</a>

    </div>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Inicio</a></li>
            <li><a href="http://127.0.0.1:5000/Acercademi">Acerca de mí</a></li>
            <li><a href="http://127.0.0.1:5000/contacto">Contacto</a></li>
            
        </ul>
    </nav>

   
    
{% endblock %} 
